main ul {
    width: 100%;
    height: 100%;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

body{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
h1 {
  margin-left: 50%;
  text-transform: uppercase;
  color: #008CBA;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}

p {
  margin-left: 50%;
  margin-bottom: 17rem;
  text-align: justify;
  color: black;
  font-size: 1.9rem;
  width: 100%;

}

a {
  text-decoration: none;
  color: #008CBA;
}
.a-link :hover{
  text-decoration: none;
  color: black;
  background-color: #0e638065;
  border-radius: 6px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

footer{
    background-size: cover;
}
#my-pic{
    width: 20%;
    height: 20%;
}
#li-my-pic{
  margin-left: 50%;
  margin-bottom: 78px;
  width: 100%;
  height: 30%;
  
}
#p-thanks{
  margin-left: 5%;
  font-size: 1r;  
  text-align: left;
  color: #0e6380;;
}

main ul {
    width: 100%;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}
